*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    text-align: center;
    background-color: brown;
    justify-content: center;
    color: aliceblue;
}


div:nth-of-type(1){

    display: flex;
    gap: 1.5rem;
    justify-content: center;
    
}

button{
    border-radius: 20px;
    width: 20rem;
    height: 5vh;
}

